<%+header%>

<h2><a id="content" name="content"><%:Simple application monitor%></a></h2>
<div id="browser_not_supported" style="color:red;display:none" data-bind="visible: errNotSupported()">
    <p><%:Your browser does not support the live data that this page needs.  You need IE 10 or
        greater, or any recent version of Chrome, Safari, Firefox or Opera.%>
    <p><small><%:(Specifically, you need support for WebSockets)%></small>
</div>
<div id="err_could_not_connect" style="color:red;display:none" data-bind="visible: errNotConnected()">
    <p><%:Could not connect, or lost connection to the message broker on the gateway.
        If this happens all the time, perhaps WebSockets on port 8083 is firewalled?%>
    <p><%:It could also indicate an unexpected/unhandled error on the gateway itself%>
        <span class="extra" data-bind="text: errNotConnected"></span>
</div>

<p>This information is also available directly from MQTT on the topic: <code>status/local/json/applications/io-charging-on/state</code></p>

<fieldset class="cbi-section">
    <legend><%:App state%></legend>
    <table width="100%" class="cbi-section-table">
        <thead>
        <tr class="cbi-section-table-titles">
            <th class="cbi-section-table-cell"><%:Timestamp%></th>
            <th class="cbi-section-table-cell"><%:Raw message%></th>
        </tr>
        </thead>
        <tbody data-bind="foreach: messages">
        <tr class="cbi-section-table-row cbi-rowstyle-2">
            <td style="border-top:solid 2px #404040"><span data-bind="text: ts"></span></td>
            <td style="border-top:solid 2px #404040"><pre data-bind="text: raw"></pre></td>
        </tr>

        </tbody>
    </table>
</fieldset>

<script src="/resources/knockout.js"></script>
<script src="/resources/paho/mqttws31.js"></script>
<script src="/js/io-charging-on-monitor.js?v=<%=pcdata(rme_rel)%>"></script>
<%+footer%>

