# You need to put these in yourself...
kitename=FIXME
kitesecret=FIXME

# You need to know what you're doing...
delete_line_to_enable

# Uncomment either or both for the kites you want to fly.
# backend=http:@kitename:localhost:80:@kitesecret
# backend=raw-22:@kitename:localhost:22:@kitesecret

# Everything below here should be ok...
defaults

# Openwrt has no disk for logging, in most cases.
logfile=syslog
